.App-header {
  margin: 30px 0;
  size: 60%;
}

.App-logo {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

body {
  background: linear-gradient(
    -45deg,
    rgb(249, 206, 183) 4.6%,
    rgb(234, 174, 202) 26%,
    rgb(210, 182, 226) 49.1%,
    rgb(173, 209, 242) 66.5%,
    rgb(148, 247, 168) 86.5%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
