.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
  size: 60%;
}

.App-logo {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

body {
  background: linear-gradient(
    -45deg,
    rgb(186, 73, 134) 4.6%,
    rgb(132, 196, 228) 33%,
    rgb(132, 44, 132) 49.1%,
    rgb(100, 124, 164) 66.5%,
    rgb(163, 168, 212) 86.5%,
    rgb(33, 52, 55)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

h1 {
  text-align: center;
}

a {
  color: #9670f4;
}
Footer {
  text-align: center;
  margin: 30px 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
