.Photos img {
  border-radius: 5px;
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .row {
    justify-content: center;
    flex-direction: column;
    display: block;
    margin: 0 auto;
  }
  img.photo {
    justify-content: center;
    text-align: center;
    display: flex;
    margin: 30px auto;
    max-width: 90%;
    border-radius: 16px;
  }
  .column-style {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}
